* {
    padding: 0px;
    margin: 0px;
}

html {
    /* shades */
    --brand-color: #73c9b0;

    --light-accent: #76D6BB;
    --main-accent: #70CAB1;
    --dark-accent: #4C8A78;
    --darker-accent: #294A41;
    --gray-color: #D9D9D9;
    --gray-color-2: #f7f7f7;
    --gray-color-3: #f5f5f5;

    /* split complementary */
    --light-complementary-1: #C9798C;
    --dark-complementary-1: #7D515B;
    
    --light-complementary-2: #C99965; 
    --dark-complementary-2: #7D5C38;

    --dark-general: #242424;
    --light-general: #f2f5f5;

    scroll-behavior: smooth;
}

.company-subtitle {
    font-style: italic;
    font-weight: lighter;
    font-size: larger;
}

.text-accent {
    /* color: var(--light-accent); */
    color: var(--brand-color) !important;
}

.accent-pointer {
    color: var(--brand-color) !important;
}

.accent-pointer:hover {
    cursor: pointer;
    text-decoration: underline !important;
}

/* custom bg color */
.bg-light-accent {
    background-color: var(--light-accent);
}

.bg-accent {
    background-color: var(--brand-color);
}

.light-accent {
    color: var(--light-accent);
}

.text-hover-accent:hover {
    color: var(--brand-color) !important;
    cursor: pointer;
}

/* navbar */
#mainNavbar {
    transition-duration: 250ms;
}

.navbar-drop-down-active:active {
    background-color: var(--brand-color);
    color: #fff !important;
}

.brand-pic {
    transition-duration: 250ms;
    width: 4em;
}

/* carousel */
.carousel-item {
    max-height: 33em;
}

/* greeting */
.greeting-col {
    background-color: var(--gray-color-3);
}

.greeting-text {
    font-weight: 250;
}

/* about company */
.about-row {
    background-color: #fff;
}

/* company values */
.company-values-row {
    /* background-color: var(--light-general); */
}

.card-heading {
    /* border: solid red; */
}

.main-value-card {
}

#hello {
    border: solid red;
}

.value-cards-col {
    display: flex;
    flex-direction: row;
}

.value-card-img {
    width: 3em;
    height: auto;
}

.read-more-button {
    /* color: blue !important; */
}

.read-more-button:hover {
    cursor: pointer;
    text-decoration: underline !important;
}

#valueTextIntegrity:active {
    transition: 250ms;
}

/* product */
.product-card {
    height: 23em;
}

.zoom-wrapper {
    overflow: hidden;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.zoom-wrapper img {
    object-fit: cover;
    height: 100%;
    transition: 300ms;   
}

.zoom-wrapper img:hover {
    transform: scale(1.2);
}

#honeyDescField {
    
}


/* partner */
.partners-row {
    overflow: hidden;
    min-height: 1vh;
    max-height: 65vh;
}

.partners-card-row1 {
    /* border-block: solid black; */
}

.partners-card-row11 {
    /* border-block: solid red; */
    top: -19.65%;
}

.partners-card-row2 {
    /* border-block: solid black; */
    top: -18%;
}

.partners-card-row22 {
    /* border: solid red; */
    top: -43.45%;
}

/* infinite autoplay horizontal scroll */
@keyframes lefty-1 {
    0% {left: 0;}
    100% {left: -100%;}
}

@keyframes lefty-2 {
    0% {left: 100%;}
    100% {left: 0;}
}

@keyframes righty-1 {
    0% {right: 0;}
    100% {right: -100%;}
}

@keyframes righty-2 {
    0% {right: 100%;}
    100% {right: 0%;}
}

.autoplay-scroll-lefty-1 {
    animation: lefty-1 10s infinite linear;
}

.autoplay-scroll-lefty-2 {
    animation: lefty-2 10s infinite linear;
}

.autoplay-scroll-righty-1 {
    animation: righty-1 10s infinite linear;
}

.autoplay-scroll-righty-2 {
    animation: righty-2 10s infinite linear;
}


.partners-card {
    /* border: solid red; */
    height: auto;
    width: auto;
    border: none;
}

.partners-card-img {
    height: auto;
    max-width: 10em;
}

/* why us */
.why-us-row {
    background-color: var(--dark-general)
}

/* team */
.team-card-img-box-1, .team-card-img-box-2, .team-card-img-box-3 {
    height: 20em;
    background-repeat: no-repeat;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.team-card-img-box-1 {
    background-image: url(./assets/team/commissioner.jpg);
    background-position: 10% 5%;
    background-size: cover;
}

.team-card-img-box-2 {
    background-image: url(./assets/team/director.jpg);
    background-position: 50% 1%;
    background-size: 200%;
}

.team-card-img-box-3 {
    background-image: url(./assets/team/first-director.jpg);
    background-position: 55% 0%;
    background-size: 210%;
}

.team-card {
    border-radius: 20px;
}

.team-btn {
    border: solid var(--brand-color);
    background-color: #fff;
}

.team-btn:hover {
    background-color: var(--brand-color);
    border: solid var(--brand-color);
    color: #fff !important;
}

/* footer */
.footer-section {
    background-color: var(--darker-accent);
}

.footer-button {
    color: var(--light-general);
}

.footer-button:hover {
    color: var(--brand-color) !important;
    cursor: pointer;
    text-decoration: underline !important;
}

.footer-social-media {
    color: var(--dark-general);
}

.footer-social-media:hover {
    color: var(--brand-color) !important;
    cursor: pointer;
}

@media only screen and (min-width: 1440px) {
    /* padding-inline: 10em */
    .navbar, .about-company-col, .company-values-row, .why-us-row, .team-row, .footer-col {
        /* padding-inline: 10em; */
    }
}

@media only screen and (max-width: 768px) {
    .partners-row {
        min-height: 100vh;
    }
    
    .partners-card-row1 {
        /* border-block: solid black; */
    }
    
    .partners-card-row2 {
        /* border: solid red; */
        margin-top: 1em;
        top: 0%;
    }

    .autoplay-scroll-lefty-1 {
        animation: none;
    }
    
    .autoplay-scroll-lefty-2 {
        animation: none;
        display: none;
    }

    .autoplay-scroll-righty-1 {
        animation: none;
    }

    .autoplay-scroll-righty-2 {
        animation: none;
        display: none;
    }
}

@media only screen and (max-width: 425px) {
    .product-card {
        height: auto !important;
    }

    .team-card-img-box-1 {
        background-position: 0% 20%;
    }

    .team-card-img-box-3 {
        background-size: 200%;
    }

    .partners-row {
        min-height: 140vh;
    }
    
    .partners-card-row1 {
        /* border-block: solid black; */
    }
    
    .partners-card-row2 {
        /* border: solid red; */
        margin-top: 1em;
        top: 0%;
    }

    .autoplay-scroll-lefty-1 {
        animation: none;
    }
    
    .autoplay-scroll-lefty-2 {
        animation: none;
        display: none;
    }

    .autoplay-scroll-righty-1 {
        animation: none;
    }

    .autoplay-scroll-righty-2 {
        animation: none;
        display: none;
    }

}

@media only screen and (max-width: 375px) {
    .partners-row {
        min-height: 180vh;
    }
    
    .partners-card-row1 {
        /* border-block: solid black; */
    }
    
    .partners-card-row2 {
        /* border: solid red; */
        margin-top: 1em;
        top: 0%;
    }

    .autoplay-scroll-lefty-1 {
        animation: none;
    }
    
    .autoplay-scroll-lefty-2 {
        animation: none;
        display: none;
    }

    .autoplay-scroll-righty-1 {
        animation: none;
    }

    .autoplay-scroll-righty-2 {
        animation: none;
        display: none;
    }
}